@import "home";

html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: gray;
    font-family: "Montserrat", sans-serif;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 3rem;
}
p {
    font-size: 2.5rem;
}
li {
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: darkgray;
}
#logo {
    font-size: 3rem;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }
    .showcase {
        grid-template-columns: 10px 1fr 10px;
        #intro {
            grid-column: 2/3;
        }
    }
}